<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.first_name %></h1>
    <p>Gracias por registrarse en <span style="color: #F28705;">Orquestarte Educación Musical</span></p>
    <p>En el sitio de Orquestarte podrá inscribir a sus hijos a los talleres Orquestarte y realizar los pagos correspondientes</p>
    <p>Puede iniciar sesión en el siguiente enlace</p>
    <a
      style="color: black;" 
      href="https://www.orquestarte.com.mx/login">
      Iniciar sesión
    </a>
    <p>
    <span style="color: #F28705;">Orquestarte Educación Musical, llenando tu vida de música</span>
  </body>
</html>